{% extends 'core/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content%}
<footer class="py-6 px-6 flex justify-between bg-gray-800">
    <div class="w-2/3 pr-10">
        <h3 class="mb-5 font-semibold text-gray-400">Privacy Policy</h3>

        <p class="text-lg text-gray-500">CarFleetPro App Privacy Policy

            Last Updated: []
            
            Thank you for choosing CarFleetPro, a vehicle fleet management and tracking application. This Privacy Policy outlines how we collect, use, and protect your personal information when you use our app. By using CarFleetPro, you agree to the terms described in this policy.
            
            1. Information We Collect
            
            1.1. Personal Information: To provide our services, we may collect personal information, including but not limited to your name, contact details, and vehicle-related information.
            
            1.2. Usage Data: We may collect information about how you use our app, such as your interactions, preferences, and usage patterns.
            
            1.3. Location Data: CarFleetPro may collect and process information about the location of your devices when you use the app, for vehicle tracking and fleet management purposes.
            
            2. How We Use Your Information
            
            2.1. We use your personal information for the following purposes:
            
            To provide and maintain the services offered by CarFleetPro.
            To process and complete transactions, including payments.
            To improve and enhance the functionality and performance of the app.
            To respond to your requests, comments, or questions.
            To send important notifications and updates regarding the app.
            3. Data Sharing and Disclosure
            
            3.1. We may share your personal information with:
            
            Service providers who help us provide and maintain the app.
            Law enforcement agencies or other authorized authorities in compliance with applicable laws.
            Third-party partners with your consent, when required.
            4. Data Security
            
            4.1. We implement security measures to protect your personal information against unauthorized access, alteration, disclosure, or destruction.
            
            5. User Rights
            
            5.1. You have the following rights regarding your personal information:
            
            Access to your personal data.
            The right to correct inaccurate data.
            The right to erase your personal information.
            The right to restrict processing.
            The right to data portability.
            The right to object to processing.
            6. Changes to this Privacy Policy
            
            6.1. We may update this Privacy Policy as our services evolve or as required by law. We will notify you of any significant changes through our app or by other means.
            
            7. Contact Us
            
            7.1. For any questions, concerns, or requests related to this Privacy Policy, please contact us at [Contact Email].
            
            8. Governing Law
            
            8.1. This Privacy Policy is governed by the laws of [Your Jurisdiction].
            
            By using CarFleetPro, you acknowledge that you have read, understood, and agree to this Privacy Policy. We recommend that you review this policy regularly to stay informed about how we collect and protect your personal data.
            
            </p>
    </div>
{% endblock %}